<div class="no-overflow">
    <section class="container main-section">
        <div class="row">

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top card-thumbnail"
                        src="/images/destinations/aayush-gupta-ljhCEaHYWJ8-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lisbon</h5>
                        <p class="card-text">Portugal</p>
                        <a href="/places/details/lisbon" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/reiseuhu-SsiI4iw2Gx0-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gran Canaria</h5>
                        <p class="card-text">Canary Islands</p>
                        <a href="/places/details/Gran%20Canaria" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/barbara-zandoval-fl3fdbbtj4Q-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Buenos Aires</h5>
                        <p class="card-text">Argentina</p>
                        <a href="/places/details/Buenos%20Aires" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/cassie-gallegos-6wCWCPwmRJY-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Canggu</h5>
                        <p class="card-text">Bali</p>
                        <a href="/places/details/Canggu" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/cheese-yang-6D05B660ydE-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Chiang Mai</h5>
                        <p class="card-text">Thailand</p>
                        <a href="/places/details/Chiang%20Mai" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/colin-watts-C8e3LGjg3fc-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Madeira</h5>
                        <p class="card-text">Portugal</p>
                        <a href="/places/details/Madeira" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/wj-BpTz_kICS2E-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Porto</h5>
                        <p class="card-text">Portugal</p>
                        <a href="/places/details/Porto" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
            {{!-- new --}}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/pyro-jenka-N2hiyUWvuNs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mexico City</h5>
                        <p class="card-text">Mexico/p>
                            <a href="/places/details/Mexico%20City" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/anantachai-saothong-0DKDTSFBXc8-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Bangkok</h5>
                        <p class="card-text">Thailand</p>
                        <a href="/places/details/Bangkok" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/georgios-domouchtsidis-UtbUQWxElVs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ho Chi Minh City</h5>
                        <p class="card-text">Vietnam</p>
                        <a href="/places/details/Ho%20Chi%20Minh%20City" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/hert-niks-S7QZcYLJJsA-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tenerife</h5>
                        <p class="card-text">Spain</p>
                        <a href="/places/details/Tenerife" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/joel-duncan-Iqa-WlbNjqs-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Medellín</h5>
                        <p class="card-text">Colombia</p>
                        <a href="/places/details/Medellin" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/radoslav-bali-jN9JnZ-SyVc-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ubud</h5>
                        <p class="card-text">Indonesia</p>
                        <a href="/places/details/Ubud" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/anna-berdnik-0n0AHB1fgTQ-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Istanbul</h5>
                        <p class="card-text">Turkey</p>
                        <a href="/places/details/Istanbul" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/alexey-turenkov-bWJiSZjIgTM-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Goa</h5>
                        <p class="card-text">India</p>
                        <a href="/places/details/Goa" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/destinations/roberto-nickson-HmieZw0YOC0-unsplash.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Tulum</h5>
                        <p class="card-text">Mexico</p>
                        <a href="/places/details/Tulum" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="destinations-hero">
        <h1 class="hero-title">Become a Nomad</h1>
        <a href="/profile/create" class="main-btn">Sign up</a>
    </section>

    <section class="mission-hero">
        <h1 class="hero-title">Our Mission</h1>
        <a href="/profile/create" class="main-btn">Our Mission</a>
    </section>

    <section class="contact-hero">
        <h1 class="hero-title">A community of Nomads</h1>
        <a href="/profile/create" class="main-btn">Contact us</a>
    </section>
</div>