<div class="no-overflow">
    <div class="about-us row">
        <h1>What is a <br> Digital Nomad?</h1>
        <video class="trailer" controls src="/images/Go_nomad trailer.mp4"></video>
    </div>

    <section class="destinations-hero">
        <h1 class="hero-title">Become a Nomad</h1>
        <a href="/profile/create" class="main-btn">Sign up</a>
    </section>

    <section class="mission-hero">
        <h1 class="hero-title">Our Mission</h1>
        <a href="/profile/create" class="main-btn">Our Mission</a>
    </section>

    <section class="contact-hero">
        <h1 class="hero-title">A community of Nomads</h1>
        <a href="/profile/create" class="main-btn">Contact us</a>
    </section>
</div>