<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/style.css" />

<div class="home-page">
    <div class="title-container">
        <h1 class="main-title">
            <span class="first-word">Go</span>
            <span class="second-word">Nomad</span>
        </h1>

        <form method="POST" action="/" class="search-bar">
            <div class="input-container">
                <input type="text" placeholder="Looking for Adventure?" name="query" class="main-input">
                <button type="submit"><img
                        src="/images/147-1477379_mobile-terminal-search-bar-icon-search-bar-png-removebg-preview.png"
                        alt=""></button>
            </div>
        </form>

        <a href="/places" class="main-btn">Top Destinations</a>

    </div>
</div>